<div class="container">          
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Listing Status</th>
        <td><%= cin_detail.listing_status %></td>
      </tr>
      <tr>
        <th scope="row">Industry Type</th>
        <td><%= cin_detail.industry_code %></td>
      </tr>
      <tr>
        <th scope="row">State</th>
        <td><%= cin_detail.state_code %></td>
      </tr>
      <tr>
        <th scope="row">Company Incorporate Year</th>
        <td><%= cin_detail.company_inc_yr %></td>
      </tr>
      <tr>
        <th scope="row">Company Type</th>
        <td><%= cin_detail.company_type %></td>
      </tr>
      <tr>
        <th scope="row">Registration Number</th>
        <td><%= cin_detail.reg_number %></td>
      </tr>
    </tbody>
  </table>
</div>